@using ViewAssignmentWeather.Models;
@model List<CityWeather>;
@{
    ViewBag.title = "Weather Home";
}

<div class="flex items-center justify-center gap-4 flex-1 overflow-auto">
    @foreach (CityWeather item in Model)
    {
        var currentBgColor = "";
        switch (item.TempretureFahrenheit)
        {
            case var temp when temp < 44:
                currentBgColor = ViewBag.bgcolor["blue"];
                break;
            case var temp when temp >= 44 && temp < 74:
                currentBgColor = ViewBag.bgcolor["green"];
                break;
            case var temp when temp >= 74:
                currentBgColor = ViewBag.bgcolor["red"];
                break;
        }
        <div class="@currentBgColor grid grid-cols-3 items-start p-4 rounded-sm shadow-lg">
            <div class="w-[80px]">
                <div class="font-semibold text-lg">@item.CityName</div>
                <div class="text-zinc-700 text-sm">@item.DateAndTime.ToShortTimeString()</div>
                <a href="/weather/@item.CityUniqueCode" class="text-xs text-blue-600 mt-2">Details</a>
            </div>
            <div class="border-r-[1px] border-r-white h-full mx-5"></div>
            <div class="font-semibold mt-3">
                <span class="">@item.TempretureFahrenheit</span>
                <span class="text-zinc-500">
                    <sup>o</sup>F
                </span>
            </div>
        </div>
    }
</div>
