<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="https://cdn.jsdelivr.net/npm/@@tailwindcss/browser@4"></script>
</head>

<body>

    <header class="bg-gray-800 text-white p-4">
        <h1 class="text-2xl">E-Commerce Cart CRUD</h1>
        <nav class="mt-2">
            <ul class="flex space-x-4">
                <li><a href="@Url.Action("Index", "Products")"
                        class="text-white cursor-pointer hover:underline">Products</a></li>
                <li><a href="@Url.Action("Index", "Cart")" class="text-white cursor-pointer hover:underline">Cart</a>
                </li>
            </ul>
        </nav>
    </header>

    @RenderBody()
</body>

</html>