@model Stock;
@{
    ViewBag.title = "Stocks App - Home";
    ViewBag.description = "Welcome to the Stocks App - Your one-stop solution for tracking and managing your stock portfolio.";
}
<div class="h-screen">
    <h1>Home</h1>
    <p>@Model.CurrentPrice</p>
</div>
